<main class="px-3 py-1 text-center">
  
  <div class="row contents-wrapper py-5 px-5">
    <% @products.each do |product|  %>
      <div class="content col-xs-4 col-sm-4 col-md-4 py-5">
        <div class="product">
          <p class="text-success"> <%= product.name %>  </p>
          <a href="/home/<%= product.id %>/show"><img src="<%= product.product_images.order(:sort_order).first.url %>" class="img-responsive img-thumbnail img-rounded" alt="pics" width="60%" height="auto"></a>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="mx-auto"><%= paginate @products %></div>
  
  
  
 

</main>
