.carousel-indicators li {
  background-color:#000;
}

.carousel-control-prev, .carousel-control-next {
  color:#000;
}

.pics-index{
  height:250px;
  width:250px;
  object-fit: cover; 
}

.pics-show {
  height :355px;
  width :auto;

}

