

<main class="px-3 py-1 text-center">
  <% if @products.present? %>
    <div class="row contents-wrapper py-5 px-5">
      <% @products.each do |product|  %>
        <div class="content col-xs-4 col-sm-4 col-md-4 py-5">
          <div class="product ">
            <p class="text-success"> <%= product.name %>  </p>
            <a href="/home/<%= product.id %>/show"><img src="<%= product.product_images.order(:sort_order).first.url %>" class="img-responsive img-thumbnail img-rounded" alt="pics" width="60%" height="auto"></a>
          </div>
        </div>
      <% end %>
    </div>  
  <% else %>
    <div class="h2 text-center">You don't have favorite.</div>
  <% end %>


  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-3">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>    
    
</main>
